
.projects__container {
        display: grid;
        gap: 1%;
        justify-content: center;
        align-items: center;
}

.actives {
    width: 200px;
    height: 200px;
  }
  
  .hiddens {
    display: none;
  }